.ds_contact_section_where{
    padding-top: 8.125em;
    padding-bottom: 7.5em;
    padding-left: 15px;
    padding-right: 15px;
    .container{
        .ds_contact_section_wrap{
            display: grid;
            flex-wrap: wrap;
            column-gap: 1em;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            .ds_contact_info_item{
                >.d-flex{
                    gap: 1.875em;
                    .ds_contact_info_img{
                        max-width: 8em;
                        width: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            object-position: center top;
                        }
                    }
                    .ds_contact_info_con{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        h3{
                            margin-bottom: auto;
                            font-weight: 700;
                            color: rgba(0, 0, 0, 0.7);
                        }
                        .ds_footer_contacts_line{
                            font-size: 1em;
                            margin-top: 0.625em;
                            display: flex;
                            align-items: center;
                            gap: 0.625em;
                            &.address{
                                min-height: 1.5em;
                                margin-top: 0.875em;
                            }
                            a{
                                text-decoration: none;
                                font-weight: 700;
                                text-decoration-color: color(dark);
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.ds_contact_section{
    .ds_where_con{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .ds_contact_left{
            width: 100%;
            max-width: 60%;
            h2{
                margin-bottom: 1.07em;
            }
            >div{
                .ds_event_item{
                    gap: 2.1875em;
                    .ds_event_item_col_img{
                        max-width: 10.625em;
                        width: 100%;
                        .ds_action_tag{
                            position: absolute;
                            top: 0;
                            font-size: 0.875em;
                            font-weight: 700;
                            line-height: 2;
                            color: #ffffff;
                            background-color: #B70000;
                            padding: 0 1.43em;
                            width: auto;
                            border-radius: 0.5em 0 0 0;
                        }
                        img{
                            width: 100%;
                            object-position: center;
                            object-fit: cover;
                            height: 10em;
                        }
                    }
                    .ds_event_item_col_con{
                        padding-top: 0.4375em;
                        .ds_event_item_date{
                            font-size: 1em;
                            margin-bottom: 1.25em;
                        }
                        a{
                            margin-bottom: 1.6em;
                            display: block;
                            h3{
                                font-weight: bold;
                                transition: $trans;
                                color: color(dark);
                                margin-bottom: 0;
                            }
                            &:hover{
                                h3{
                                    color: color(navy);
                                }
                            }
                        }
                        p{
                            max-width: 21.25em;
                        }
                    }
                    &:first-of-type{
                        gap: 2.5em;
                        .ds_event_item_col_img{
                            max-width: 12.25em;
                            width: 100%;
                            img{
                                height: 11.5em;
                            }
                        }
                        .ds_event_item_col_con{
                            p{
                                max-width: 24em;
                            }
                        }
                    }
                }
            }
        }
        .ds_contact_right{
            margin-top: 0;
            .ds_event_item_col_img{
                position: relative;
            }
        }
    }
}

.ds_map{
    margin-top: 7.5em;
    .container{
        .ds_krmidlo{
            left: -0.75em;
            top: 14.875em;
        }
        .ds_lighthouse{
            bottom: -11em;
            top: unset;
        }
        iframe{
            display: block;
            width: 100%;
            height: 38.5em;
        }
    }
}



@media only screen and (max-width: 1599px){
    .ds_contact_section_where{
        padding-top: 6em;
        padding-bottom: 5.5em;
        .container{
            .ds_contact_section_wrap{
                .ds_contact_info_item{
                    >.d-flex{
                        gap: 1.5em;
                        .ds_contact_info_img{
                            max-width: 6em;
                        }
                    }
                }
            }
        }
    }
    .ds_map{
        .container{
            iframe{
                height: 30em;
            }
        }
    }
}



@media only screen and (max-width: 1199px){
    .ds_contact_section_where{
        .container{
            .ds_contact_section_wrap{
                .ds_contact_info_item{
                    >.d-flex{
                        gap: 2em;
                        flex-direction: column;
                        .ds_contact_info_img{
                            max-width: 6em;
                        }
                        .ds_contact_info_con{
                            h3{
                                margin-bottom: 0.83em;
                            }
                            .ds_footer_contacts_line{
                                &.address{
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .ds_contact_section{
        .ds_where_con{
            .ds_contact_left{
                max-width: 55%;
                > div{
                    .ds_event_item{
                        gap: 1.5em;
                        .ds_event_item_col_img{
                            max-width: 8.5em;
                            img{
                                height: 9em;
                            }
                        }
                        &:first-of-type{
                            gap: 2em;
                            .ds_event_item_col_img{
                                max-width: 10em;
                                img{
                                    height: 10em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .ds_map{
        .container{
            .ds_lighthouse{
                bottom: -6em;
            }
            .ds_krmidlo{
                top: 0;
            }
            iframe{
                height: 30em;
            }
        }
    }
}

@media only screen and (max-width: 991px){
    .ds_contact_section_where{
        .container{
            .ds_contact_section_wrap{
                row-gap: 4em;
                display: grid;
                column-gap: 2em;
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }
    }
    .ds_contact_section{
        .ds_where_con{
            row-gap: 6em;
            .ds_contact_left{
                max-width: 100%;
                > div{
                    .ds_event_item{
                        .ds_event_item_col_con{
                            p{
                                max-width: unset!important;
                            }
                        }
                    }
                }
            }
        }
    }
    .ds_map{
        .container{
            .ds_lighthouse{
                display: none;
            }
            iframe{
                height: 26em;
            }
        }
    }
}

@media only screen and (max-width: 575px){
    .ds_contact_section_where{
        padding-top: 5em;
        padding-bottom: 4.5em;
        .container{
            .ds_contact_section_wrap{
                row-gap: 3em;
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }
    }
    .ds_contact_section{
        .ds_where_con{
            row-gap: 4em;
            .ds_contact_left{
                max-width: 100%;
                > div{
                    .ds_event_item{
                        flex-direction: column;
                        gap: 0.5em;
                        .ds_event_item_col_con{
                            .ds_event_item_date{
                                margin-bottom: 0.75em;
                            }
                            a{
                                margin-bottom: 0.5em;
                            }
                        }
                    }
                }
            }
        }
    }
    .ds_map{
        .container{
            .ds_lighthouse{
                bottom: -4em;
            }
            iframe{
                height: 22em;
            }
        }
    }
}